/*
 * Estilos de tu proyecto
 */
 * { margin: 0; padding: 0; }
 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 body{
 	font-family: 'Raleway', sans-serif;
 }

header{
	position:fixed;
	background-color:#31455A;
	width:100%;
	top:0;
	color:whitesmoke;
	font-weight:bolder;}
.left{
	padding-left: 30px;
}
.right{
	padding-left: 90px;
	padding-right: 0;
}
header a{
	text-align: center;
	text-decoration:none;
	color:whitesmoke;
	font-size: 15px;
}
header a:hover{
	color:#18BC9C;
}
header h3{
	font-size: 26px;
	margin-top:8px;
}

header div .contact{
	padding-right: 10px;
}

/*Section home*/
#home{
	padding-top:140px;
	text-align: center;
	background-color: #18BC9C;
	color:white;
	height: 580px;
}
#home h1{
	font-size: 30px;
	font-weight: bolder;
}
#home p{
	font-size:15px;
}
/*Section Portfolio*/

#portfolio {
	text-align: center;
	padding-top:50px;
	color: #333333; 
	font-size: 27px;
	font-weight: bolder;
	height:800px;
	background-color: white;

}
/*section about*/
#about{
	background-color:#18BC9C;
	color:white; 
	height: 370px;
}
#about .title{
	text-align: center;
	font-size: 27px;
	font-weight: bolder;
	padding-top: 50px;
}

#about .parrafo{
	text-align: justify;
	font-size: 18px;
}
#about #p1{
	padding-left:20%;
	padding-right:3%;
}
#about #p2{
	padding-right:20%;
	padding-left:3%;
}
.button-container{
	text-align: center;
}
.button-container button{
	padding:10px 25px;
	background-color: #18BC9C;
	border:1.5px solid white;
	color:white;
	border-radius: 7px;
	font-size: 20px;
}