/*
 * Estilos de tu proyecto
 */
 * { margin: 0; padding: 0; }
 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 body{
 	font-family: 'Raleway', sans-serif;
 }

header{
	position:fixed;
	background-color:#31455A;
	width:100%;
	top:0;
	color:whitesmoke;
	font-weight:bolder;}
.left{
	padding-left: 30px;
}
.right{
	padding-left: 90px;
	padding-right: 0;
}
header a{
	text-align: center;
	text-decoration:none;
	color:whitesmoke;
	font-size: 15px;
}
header a:hover{
	color:#18BC9C;
}
header h3{
	font-size: 26px;
	margin-top:8px;
}

header div .contact{
	padding-right: 10px;
}

/*Section home*/
#home{
	padding-top:140px;
	text-align: center;
	background-color: #18BC9C;
	color:white;
	height: 600px;
	font-size: bolder;
}
/*Section Portfolio*/